/**
 * W15Y CSS
 * ========
 *
 * The site is laid out on a 6 x 107px grid with 18px gutters with the expected
 * 3x, 2x, 1x variants:
 *
 * | 18 | 107 | 18 | 107 | 18 | 107 | 18 | 107 | 18 | 107 | 18 | 107 | 18 |
 * | 18 |       232      | 18 |       232      | 18 |       232      | 18 |
 * | 18 |                  482                 | 18 |       232      | 18 |
 * | 18 |                             732                            | 18 |
 *
 * Everything else should be pretty straightforward.
 */

/* BASE ELEMENT STYLES ********************************************************/
a,
a:visited {
  -moz-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;

  color: #000;
  transition: color 0.5s ease;
}

a:hover,
a:focus {
  color: #00A1FF;
}

code {
  font-family: 'Anonymous Pro', monospace;
}

h1 {
  color: #999;
  font: 700 28px/42px 'Open Sans';
  letter-spacing: -1px;
  margin: 0;
}

h2 {
  font: 700 20px/1 'Open Sans';
  margin: 0;
}

pre {
  background: #EEE;
  border-left: 8px solid #80D0FF;
  margin: 0 -18px;
  padding: 1em 18px 1em 10px;
}

pre code {
  color: #000;
}

/** SITE FRAMEWORK ************************************************************/
html {
  background: #E0E0E0;
  margin: 0;
  padding: 0;
}

body {
  background: #FFF;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  margin: 0 auto 2em;
  padding: 0;
  width: 768px;
}

/** SITE HEADER ***************************************************************/
body > header {
  background: #000;
  padding: 0 18px;
}

body > header h1 {
  float: left;
  text-transform: uppercase;
}

body > header h1 a,
body > header h1 a:visited,
body > header h1 a:hover,
body > header h1 a:focus {
  color: #FFF;
  text-decoration: none;
}

body > header h1 b {
  /* Yes, `b`; the text is "stylistically offset". So there. */
  color: #80D0FF;
}

body > header p {
  color: #999;
  font: 18px/42px 'Open Sans';
  margin: 0;
  text-align: right;
}

body > header .hidden {
  -moz-transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  display: inline-block;
  height: 32px;
  overflow: hidden;
  transition: width 0.5s ease;
  white-space: nowrap;
  width: 0px;
}

body > header :hover .hidden {
  width: 288px;
}

/** SITE MAIN CONTENT *********************************************************/
section, article {
  margin: 0;
  padding: 0 18px;
}

/**** HOMEPAGE HEADER *********************************************************/
section > header {
  border-bottom: 1px solid #DDD;
  font: 25px/1.5 'Open Sans';
  margin: 0;
  padding: 26px 0;
}

section > header img {
  float: left;
  margin: 9px 18px 0 0;
}

section > header span {
  display: block;
  margin-top: 0.5em;
}

section > header em {
  margin-right: 0.15em;
}

/**** HOMEPAGE SECTIONS *******************************************************/
.recent, .links {
  border-bottom: 1px solid #DDD;
  clear: left;
  margin: 26px 0 0;
  padding: 0 0 26px;
}

.links,
section > aside {
  border-bottom: 1px solid #DDD;
  float: left;
  margin: 26px 0 0 18px;
  padding-bottom: 26px;
  width: 232px;
}

aside a {
  text-decoration: none;
}

aside p {
  font: 16px/28px 'Open Sans', sans-serif;
  margin: 14px 0 0;
}

aside img {
  vertical-align: middle;
}


/**** HOMEPAGE LINKS **********************************************************/
.links {
  width: 482px;
  margin-left: 0;
}
  .links li {
    font: 18px/32px 'Open Sans', sans-serif;
    list-style: none inside;
    padding: 0 0 0 1em;
    margin: 0 0 1em;
    text-indent: -1em;
  }
  .links ul {
    margin: 14px 0 0;
    padding: 0;
  }

/**** "Hoverbox" LIST ********************************************************/
.hoverbox {
  list-style: none inside;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
  .hoverbox li {
    float: left;
    margin-left: 18px;
    margin-top: 18px;
  }
    .hoverbox li:nth-child(3n-2) {
      margin-left: 0;
    }
 .hoverbox a {
    background: #00A1FF;
    border: 1px solid #80D0FF;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5); 
    display: block;
    height: 130px;
    line-height: 1;
    overflow: hidden;
    position: relative;
    width: 230px;
  }
  .hoverbox h3 {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

    background: rgba(255,255,255,0.95);
    border-left: 4px solid #80D0FF;
    color: #000;
    font: 600 18px/1 'Open Sans';
    left: 0;
    margin: 0;
    padding: 9px;
    position: absolute;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0);
    top: 20px;
    transition: all 0.5s ease;
    width: 210px;
    z-index: 2;
  }
    .hoverbox :hover h3,
    .hoverbox :focus h3 {
      background: rgba(0,0,0,0);
      color: #FFF;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      border-left-color: rgba(0,0,0,0);
    }
  .hoverbox img {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;

    display: block;
    position: relative;
    top: -22px;
    transition: opacity 0.5s ease;
    z-index: 1;
  }
    .hoverbox :hover img,
    .hoverbox :focus img {
      opacity: 0.2;
    }

/** ARTICLES*** ***************************************************************/
article {
  font: 20px/32px 'Open Sans', Helvetica, sans-serif;
  color: #333;
  padding-bottom: 26px;
  overflow: hidden;
}

article h1 {
  font: 700 28px/32px 'Open Sans', Helvetica, sans-serif;
  color: #111;
  margin: 23px 0;
}

article section,
article aside {
  overflow:hidden;
  font-size: 18px;
  line-height: 1.4;
  background: #DDD;
  width: 214px;
  padding: 0 9px 9px;
  float: left;
  margin-top: 0;
}

article aside p {
  line-height: 24px;
  margin: 9px 0;
}

article aside h4 {
  font: 600 20px/32px 'Open Sans', Helvetica, sans-serif;
  margin: 9px 0 0;
}

article aside {
  margin-left: 18px;
}

article section {
  width: 464px;
}

/** SIDE COPYRIGHT ************************************************************/
body > small {
  clear: both;
  background: #222;
  border-top: 1px solid #00A1FF;
  color: #999;
  display: block;
  font: 10px/18px sans-serif;
  text-align: right;
  padding: 9px 18px 9px 300px;
}

body > small a,
body > small a:visited {
  color: #999;
}
